*.test
go.work

# Heaviest thing on earth
node_modules

# Task file temporary files
.task

# Dotenv file
.env

# Images store
images

# Build artifacts
build
tmp
static/css/tailwind.css
static/js/components.js
view/**/*_templ.go
